<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Home</title>
    <style>
      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        margin-top: 30px;
        margin-left: 220px;
        width: 900px;
      }
      
      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
      </style>
</head>
<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
          <a class="text-white h4">Quiz App</a>
          <form class="d-flex" role="">
            <button class="btn btn-outline-success" type="submit"><a href="/signup">SignUp</a></button>
          </form>
        </div>
    </nav>
    <img src="https://repository-images.githubusercontent.com/182525249/aadd7a80-54fe-11eb-9872-ccd06b8789b6" width="900px" height="500px">
</body>
</html>